@font-face {
    font-family: "iranSansWeb";
    src: url("./../fonts/IRANSansWeb\ Bold.ttf");
}
body{
    background: linear-gradient(90deg,rgb(155, 215, 255),rgb(255, 207, 207));
    font-family: "iranSansWeb";
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
ul{
    list-style: none;
}
#H1{
    color: rgb(0, 116, 29) !important;
    background: black;
}
#nav{
    position: absolute;
    background: linear-gradient(90deg,rgb(89, 0, 255),rgb(165, 97, 255));
    padding-top: 3rem;
    box-shadow: 0 0 20px 0 #000;
    cursor: pointer;
    z-index: 1000;
    overflow-y: auto;
}
.nav-list-item{
    background: linear-gradient(90deg,rgba(238, 238, 238, 0),rgb(67, 0, 112));
    margin-top: 0.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}
.nav-list-item:hover{
    background: linear-gradient(130deg,rgb(61, 0, 85),rgb(153, 0, 255));
}
.nav-list-item > a{
    color: #fff;
}
.close{
    animation-name: closeSide;
    animation-duration: 1s;
    margin-right: -12% ;
    height: 100%;
}
.open{
    animation-name: openSide;
    animation-duration: 1s;
    margin-right: 0% ;
    height: 100%;
}
.closeTop{
    animation-name: closeSideTop;
    animation-duration: 1s;
    padding-bottom: 10rem;
    margin-top: -115% ;
}
.openTop{
    animation-name: openSideTop;
    animation-duration: 1s;
    margin-top: 0% ;
}
@keyframes closeSide {
    0%{
        margin-right: 0% ;
    }
    100%{
        margin-right: -12% ;
    }
}
@keyframes openSide {
    0%{
        margin-right: -12% ;
    }
    100%{
        margin-right: 0% ;
    }
}

@keyframes closeSideTop {
    0%{
        margin-top: 0% ;
    }
    100%{
        margin-top: -115% ;
    }
}
@keyframes openSideTop {
    0%{
        margin-top: -95% ;
    }
    100%{
        margin-top: 0% ;
    }
}
#search-form{
    background: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 5rem;
    margin-bottom: 3rem;
}
#search{
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    outline: none;
}

#search::placeholder{
    color: rgba(0, 0, 0, 0.466);
}
#search-btn{
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0);
}
#search-btn:hover{
    transform: scale(1.5);
}
#section{
    height: 100vh;
    padding-top: 5rem;
    overflow-y: auto;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg,rgb(68, 0, 255),rgba(238, 238, 238, 0));
    border-radius: 1rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg,rgb(39, 0, 148),rgba(238, 238, 238, 0));
    cursor: pointer;
    
}
.header-music-controller{
    color: #fff;
    cursor: pointer;
    padding: 1rem;
}
.header-music-controller:hover{
    color: rgb(0, 89, 255);
    transform: scale(1.5);
}
#progress-container{
    background-color: rgba(255, 255, 255, 0.5) !important;
    height: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}
#progress{
    background: linear-gradient(90deg,rgba(238, 238, 238, 0),rgb(255, 196, 0));
    box-shadow: 2px 0 0 0 rgb(0, 0, 0);
    height: 1rem;
    border-radius: 1rem;
    animation: changer 5s infinite linear;
}
#Controller-Container{
    background: linear-gradient(90deg,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.5));
    border-radius: 1rem;
}
#header-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid rgb(76, 0, 255);
    animation: rotation 5s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
        border: 1px solid red;
        box-shadow: 0 0 10px 0 rgb(132, 0, 255);
    }
    to {
        transform: rotate(359deg);
        border: 1px solid rgb(0, 17, 255);
    }
}
@keyframes changer {
    10% {
        background: linear-gradient(90deg,rgba(238, 238, 238, 0),rgb(255, 0, 0));

    }
    20% {
        background: linear-gradient(90deg,rgba(238, 238, 238, 0),rgb(255, 136, 0));

    }
    30% {
        background: linear-gradient(90deg,rgba(238, 238, 238, 0),rgb(255, 230, 0));

    }
    40% {
        background: linear-gradient(90deg,rgba(238, 238, 238, 0),rgb(166, 255, 0));

    }
    50% {
        background: linear-gradient(90deg,rgba(238, 238, 238, 0),rgb(81, 255, 0));

    }
    60% {
        background: linear-gradient(90deg,rgba(238, 238, 238, 0),rgb(0, 255, 170));

    }
    70% {
        background: linear-gradient(90deg,rgba(238, 238, 238, 0),rgb(0, 153, 255));

    }
    80% {
        background: linear-gradient(90deg,rgba(238, 238, 238, 0),rgb(0, 17, 255));

    }
    90% {
        background: linear-gradient(90deg,rgba(238, 238, 238, 0),rgb(132, 0, 255));

    }
    100% {
        background: linear-gradient(90deg,rgba(238, 238, 238, 0),rgb(255, 0, 170));

    }
    
}
#nav-song{
    padding: 1rem;
    margin: 1rem 0;
}
.nav-header-item{
    cursor: pointer;
}
.nav-header-item:hover .song-title{
    display: block;
}
.song-img{
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}
.song-title{
    color: #fff;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    margin: -60px 0 0 1px;
    width: 95px;
    height: 59px;
    border-radius: 0 0 1rem 1rem;
    display: none;
}