<!DOCTYPE html>
<html>
  <head>
    <title>کتابخانه</title>
    <meta charset="utf-8" />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body dir="rtl">
    <!-- Header -->
    <header id="header" class="alt">
      <div class="logo header-backdrop">
        <a href="index.html">
          <span>مدیریت</span>
        </a>
        <a href="index.html"> کاربر جاری </a>
      </div>
      <a href="#menu"> کتابخانه تیکا</a>
    </header>
    <!-- Nav -->
    <nav id="menu">
      <ul class="links">
        <li><a href="index.html">خانه</a></li>
        <li><a href="generic.html">کتابخانه</a></li>
        <li><a href="elements.html">محصولات</a></li>
        <li><a href="elements.html">دسته بندی</a></li>
        <li><a href="elements.html">نویسنده</a></li>
        <li><a href="elements.html">مترجمان</a></li>
      </ul>
    </nav>
    <!-- Banner -->
    <section class="banner full">
      <article>
        <img src="images/1.jpg" alt="" width="1440" height="961" />
        <div class="inner">
          <header class="backdrop-text">
            <p>مدیریت و خدمات اطلاعات و تحقیقات علمی</p>
            <a href="#">سامانه اطلاعات و فناوری مطالعات تحقیقی و تعلیمی</a>

            <h2>کتابخانه</h2>
          </header>
        </div>
      </article>
      <article>
        <img src="images/2.jpg" alt="" width="1440" height="961" />
        <div class="inner">
          <header class="backdrop-text">
            <p>بزرگترین چهره های دنیای نویسندگی با آثار تجربی و تحقیقی</p>
            <a href="#"
              >تمامی آثار این دانشمندان و اطلاعات علمی در مورد آنها را با ما
              مطالعه کنید</a
            >
            <h2>نویسنده گان</h2>
          </header>
        </div>
      </article>
      <article>
        <img src="images/3.jpg" alt="" width="1440" height="962" />
        <div class="inner">
          <header class="backdrop-text">
            <p>مترجمان زیادی داریم که بهترین ترجمه های کتاب را ارایه کردند</p>
            <a href="#"
              >تمامی آثار این دانشمندان و اطلاعات علمی در مورد آنها را با ما
              مطالعه کنید</a
            >
            <h2>مترجمان</h2>
          </header>
        </div>
      </article>
      <article>
        <img src="images/4.jpg" alt="" width="1440" height="961" />
        <div class="inner">
          <header class="backdrop-text">
            <p>محصولات ما بر اساس آمار فروش معتبر ترین منابع ارایه میشود</p>
            <h2>محصولات پرفروش</h2>
          </header>
        </div>
      </article>
      <article>
        <img src="images/5.jpg" alt="" width="1440" height="962" />
        <div class="inner">
          <header class="backdrop-text">
            <p>Ipsum dolor sed magna veroeros lorem ipsum</p>
            <h2>جدید ترین ها</h2>
          </header>
        </div>
      </article>
    </section>
    <!-- One -->
    <section id="one" class="wrapper style2">
      <div class="inner">
        <div class="grid-style">
          <div>
            <div class="box">
              <div class="image fit">
                <img src="images/1.jpg" alt="" width="600" height="300" />
              </div>
              <div class="content">
                <header class="align-center">
                  <p>مقالات تحقیقی دانشگاهی</p>
                  <h2>تحقیقات علمی</h2>
                </header>
                <p>
                  برای رشد و پیشرفت علم میبایست تحقیقات خود را به اشتراک عموم
                  بگذاریم.جامعه ی انسانی در حال انکشاف و دسترسی به علوم بوین و
                  جدید است و لازم است برای ادامه ی این پیشرفت به اطلاعات همدیگر
                  اضافه کنیم اینجا ما برای شما محیط پخش و نشر تحقیقات و دریافت
                  اطلاعات جدید را فرآهم کریم
                </p>
                <footer class="align-center">
                  <a href="#" class="button alt">بیشتر بخوانید...</a>
                </footer>
              </div>
            </div>
          </div>

          <div>
            <div class="box">
              <div class="image fit">
                <img src="images/3.jpg" alt="" width="600" height="300" />
              </div>
              <div class="content">
                <header class="align-center">
                  <p>پادکست های علمی و تجربی</p>
                  <h2>پادکست</h2>
                </header>
                <p>
                  مطالعه روش های زیادی دارد که شنیدن پادکست و کتاب صوتی بهترین
                  روش همگانی است برای اینکه در زمان هایکه دسترسی محدود تری به
                  کتاب فیزیکی داریم و یا مصروف کار دیگری هستیم از زمانی که در
                  اختیار داریم به بهینه ترین شکل ممکن استفاده کنیم
                </p>
                <footer class="align-center">
                  <a href="#" class="button alt">بیشتر بخوانید...</a>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Two -->
    <section id="two" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <p>
            کتاب و مطالعه راهی برای رشد فردی و رشد فردی یعنی رشد یک اجتماع بزرگ
            و جامعه روشن
          </p>
          <h2>آگاهی رمز موفقیت</h2>
        </header>
      </div>
    </section>
    <!-- Three -->
    <section id="three" class="wrapper style2">
      <div class="inner">
        <header class="align-center">
          <p class="special">
            فناوری اطلاعات نوین ترین مسیر علمی و تحقیقاتی جهان است
          </p>
          <h2>فناوری و رایانه های مدرن</h2>
        </header>
        <div class="gallery">
          <div>
            <div class="image fit">
              <a href="#"
                ><img src="images/2.jpg" alt="" width="600" height="300"
              /></a>
            </div>
          </div>
          <div>
            <div class="image fit">
              <a href="#"
                ><img src="images/2.jpg" alt="" width="600" height="300"
              /></a>
            </div>
          </div>
          <div>
            <div class="image fit">
              <a href="#"
                ><img src="images/3.jpg" alt="" width="600" height="300"
              /></a>
            </div>
          </div>
          <div>
            <div class="image fit">
              <a href="#"
                ><img src="images/4.jpg" alt="" width="600" height="300"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-2">12</div>
          <div class="col-2">123</div>
          <div class="col-2">123</div>
          <div class="col-2">123</div>
          <div class="col-2">123</div>
          <div class="col-2">
            <ul class="d-flex flex-row flex-warp justify-content-center">
              <li>
                <a href="#" class="icon fa-linkedin fa-2x"
                  ><span class="label">LinkedIn</span></a
                >
              </li>
              <li>
                <a href="#" class="icon fa-medium fa-2x"
                  ><span class="label">medium</span></a
                >
              </li>
              <li>
                <a href="#" class="icon fa-instagram fa-2x"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a href="#" class="icon fa-envelope-o fa-2x"
                  ><span class="label">Email</span></a
                >
              </li>
              <li>
                <a href="#" class="icon fa-gmail fa-2x"
                  ><span class="label">Gmail</span></a
                >
              </li>
              <li>
                <a href="#" class="icon fa-google fa-2x"
                  ><span class="label">Google</span></a
                >
              </li>
              <li>
                <a href="#" class="icon fa-github fa-2x"
                  ><span class="label">GitHub</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright">
      مدیریت :
      <a href="https://templated.co/"
        >وبسایت تحت استندرد های قانونی فعالیت دارد و حق کپی رایت محفوظ است</a
      >.
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
