.BackDrop-Container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    transition: all 1s ease-out;
}

.BackDrop-Container:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(2px);
}