.product-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(90deg,#cfe0ff83,rgba(255, 255, 255, 0.205),rgba(255, 255, 255, 0.329));
    border-radius: 1rem;
    border: none;
    
}