.builder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 20px;
    width: 90%;
    cursor: grab;

}
.builder-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}
.builder-info-span{
    border-radius: 15px;
    color: wheat;
    border: none;
    outline: none;
    margin: 0.5rem 1rem;
    display: block;
    padding: 0.5rem 2rem;
    background: #330092;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
.builder-control{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}
.builder-btn {
    border-radius: 15px;
    color: wheat;
    border: none;
    outline: none;
    margin: 0.5rem 1rem;
    display: block;
    padding: 0.5rem 2rem;
    background: #5727b0;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
.builder-btn:hover {
    background: wheat;
    background: #9b27b000;
    color: #000000;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

