.Product-Container{
    margin: 1rem 0.2rem;
    width: 250px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 350px;
    display: flex;
    background: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem !important;
}
.Product-Container:hover{
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.Product-Info-Container,
.Product-Description,
.Product-Controls,
.Product-Price,
.Product-Title,
.Product-btn{
    border: 1px solid rgba(0, 0, 0, 0);
    outline: none;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
}
.Product-Info-Container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Product-Title{
    background: rgba(0, 110, 255, 0.185);
}
.Product-Price{
    background: rgba(0, 174, 255, 0.322);
}
.Product-Image{
    background: rgb(37, 106, 255);
    width: 100%;
    height: 150px;
    border-radius: 1rem 1rem 0 0;
}
.Product-Description{
    font: inherit;
    font-size: 0.8rem;
}

.Product-btn{
    background: rgb(37, 106, 255);
    color: black;
    border: 1px solid rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border-radius: 0.2rem;
    border-radius:  0rem 0rem 1rem 1rem;
}

.Product-btn:hover{
    background: rgb(0, 46, 145);
    color: rgb(255, 255, 255);
}









