@font-face {
    font-family: 'IRANSansWeb';
    src: url('../../assets/fonts/IRANSansWeb.ttf');
}

body{
    font-family: IRANSansWeb;
}

*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}