.btn{
    background: rgba(255, 0, 0, 0);
    border: none;
    border-radius: 3px;
    outline: none;
    font: inherit;
    color: wheat !important;
    margin: 10px;
    padding: 5px 20px !important;
}
.yes{
    background: rgb(26, 131, 0) !important;

}
.no{
    background: rgb(255, 31, 31) !important;

}
.warning{
    background: rgb(209, 84, 0) !important;
}
.link{
    background: rgb(0, 140, 255) !important;
}
.link:hover{
    background: rgb(0, 81, 255) !important;
}
.yes:hover{
    background: rgb(12, 58, 0) !important;
    box-shadow: 0 0 25px 5px rgb(0, 0, 0);
}
.no:hover{
    background: rgb(82, 0, 0) !important;
    box-shadow: 0 0 25px 5px rgb(255, 0, 0);

}
.warning:hover{
    background: rgb(192, 77, 0) !important;
    box-shadow: 0 0 25px 5px rgb(255, 160, 35);

}