.product-container{
    margin: 1rem;
    padding: 1rem;
    background: linear-gradient(90deg,rgba(255, 0, 0, 0.4),rgba(255, 0, 0, 0.5),rgba(255, 0, 0, 0.5),rgba(255, 0, 0, 0.4));
    box-shadow: 0 0 20px 0 rgb(44, 44, 44);
    color: aliceblue;
    border-radius: 1rem ;
    text-align: center;
}
.btn{
    margin-top: 0.5rem;
    padding: 0.5rem 2rem;
    color: red;
    background: black;
    border-radius: 0.5rem;
}
.inputer{
    margin-top: 0.5rem;
    padding: 0.5rem 2rem;
    color: red;
    background: black;
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 0, 0, 0);
}