.product-container{
    background: rgba(0, 0, 0, 0.801);
    padding: 1rem;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 1rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.651);
    margin: 1rem;
    color: wheat;
    text-align: center;
    width: 25%;
    
}
.product-title{
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
}
.product-price{
    background: rgb(112, 112, 112);
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;
}
.product-button{
    padding: 0.2rem 0rem 0.5rem;  
    width: 100px; 
    border-radius: 5rem;
    border: none;
    text-align: center;
    align-items: center;
    background: rgb(27, 27, 27) !important;
    color: wheat;
}
.product-button:hover{
    background: rgb(0, 0, 0) !important;
    color: wheat;
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}