.product{
    background: rgba(0, 153, 255, 0.705);
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #4cb7ff;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: rgb(0, 37, 158);
}
.btn{
    padding: 0.3rem 2rem;
    border: 1px solid #ededed;
    background-color: #679cff8e;
    color: #ededed;
    margin-top: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
}
.btn:hover{
    border: 1px solid #000000;
    background-color: #0000008e;
    color: #ff0000;
}