:root{
    font-size: 1rem !important;
}
@font-face {
    font-family: 'iransansweb';
    src: url('../fonts/IRANSansWeb.ttf') format('truetype');
}

body {
    background: linear-gradient(90deg,rgba(189, 189, 189, 0.522),rgba(255, 255, 255, 0.119),rgba(142, 142, 142, 0.267));
    font-family: 'iransansweb' !important;
    text-align: center;
}
ul{
    list-style: none;
    text-align: center;
}
li
a{
    text-decoration: none !important;
    color: rgb(0, 0, 0) !important;
}
#label-back{
    height: 300px;
    background: linear-gradient(90deg,rgb(112, 136, 255),rgb(135, 149, 255));
    box-shadow: 0 10px 20px 0px rgba(67, 67, 67, 0.572);
}
#nav-header{
    margin-top: -18rem;
}
.fa-navicon:hover{
    cursor: pointer;
    color: red !important;
}
#aside{
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.515),rgba(255, 255, 255, 0.457)) !important;
    backdrop-filter: blur(10px) !important;
    width: 220px;
    border-radius: 0.8rem;
    height: 98vh;
    position: absolute;
}
.aside-item{
    background: linear-gradient(90deg,rgba(0, 102, 255, 0.097),rgba(146, 153, 255, 0)) !important;
    border: 1px solid rgba(45, 47, 151, 0) !important;
    cursor: pointer;
    font-size: 0.8rem;
    margin-top: 0.1rem;
    margin: 0.1rem;
}
.aside-item:hover{
    background: linear-gradient(90deg,rgba(51, 54, 58, 0.461),rgba(146, 153, 255, 0)) !important;
    border: 1px solid rgba(45, 47, 151, 0) !important;
    cursor: pointer;
    font-size: 0.8rem;
    margin-top: 0.1rem;
    margin: 0.1rem;
}
.open-aside{
    margin: -18rem 10px 0 0;
}
.close-aside{
    margin: -18rem -20rem 0 0;
}
#section-body{
    background: linear-gradient(90deg,rgba(51, 54, 58, 0.461),rgba(146, 153, 255, 0)) !important;
    box-shadow: 0 0 20px 0px rgba(67, 67, 67, 0.572);
    height: 89vh;
}