.pr-title{
    background: linear-gradient(90deg, rgba(132, 0, 255, 0.4),rgb(111, 0, 255),rgba(157, 52, 255, 0.4));
    text-align: center;
    color: wheat;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}