.input-item{
    background: rgba(255, 255, 255, 0.3);
    padding: 0.2rem 1rem;
    border: 1px solid rgba(238, 238, 238, 0);
    outline: none;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(0, 0, 0);
    box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0.3rem;
    margin: 0.5rem 0.2rem;
}

.input-item::placeholder{
    color: rgb(33, 33, 33);
}
.valid{
    border-bottom: 1px solid rgb(255, 0, 0);
}