.input-item{
    background: rgba(255, 255, 255, 0.1);
    padding: 0.2rem 1rem;
    border: 1px solid rgba(238, 238, 238, 0);
    outline: none;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(156, 156, 156);
    box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0.3rem;
    margin: 0.5rem 0.2rem;
    color: rgb(255, 255, 255);
}

.input-item::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
.valid{
    border-bottom: 1px solid rgb(255, 0, 0);
}