.footerContainer{
    text-align: center;
    color: wheat;
    padding: 5rem 0;
    margin-top: 1rem;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    background: linear-gradient(65deg,rgb(0, 22, 117),rgb(0, 48, 179),rgb(0, 9, 88));
}