.footerContainer{
    text-align: center;
    color: wheat;
    margin: 0;
    padding: 3rem;
    bottom: 0;
    height: 10%;
    width: 100%;
    z-index: -100;
    box-sizing: border-box;
    background: linear-gradient(65deg,rgb(0, 22, 117),rgb(0, 48, 179),rgb(0, 9, 88));
}