*{
    padding: 0;
    margin: 0;
}
body{
    direction: rtl;
    background: linear-gradient(90deg,rgb(69, 66, 255),rgb(105, 145, 255),rgb(69, 66, 255));
    text-align: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}