@font-face {
    font-family: 'vazir-regular';
    src: url('./../public/fonts/Vazir.ttf');
}

* {
    padding: 0;
    margin: 0;
}

body {
    direction: rtl;
    /* background: linear-gradient(90deg,rgb(69, 66, 255),rgb(105, 145, 255),rgb(69, 66, 255)); */
    text-align: center;
    font-family: 'vazir-regular';
    background: white;

}

ul {
    list-style: none !important;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}