.bg-nav{
    position: absolute;
    width: 98%;
    margin: 0.1rem 0.6rem;
    text-align: center;
}
.bg-nav:focus-within{
    background: linear-gradient(180deg,rgba(255, 0, 0, 0),rgba(0, 0, 0, 0.8));
    border-radius: 1rem;
}
.bg-dropdown {
    background: rgba(0, 0, 0, 0.1);
}

.nav-brand-s {
    margin-left: 5rem;
}